<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK NOTES</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
<h1>BOOKS I'VE READ</h1>
<p>Sorted with my top recommendations up top. Sort by title, newest, or best.</p>
<hr>

<div class="add">
    <form action="/new" method="get">
        <button type="submit">ADD NEW POST</button>
    </form>
</div>

<% if(locals.books){%>
   <% books.forEach(book => { %>
    <div class="container">
    <div class="image">
        <img src="https://covers.openlibrary.org/b/id/<%= book.isbn%>-L.jpg" alt="image of the book <%= book.name %>">
    </div>
    <div class="details">
        <h2><%= book.name %> - by <%=book.author%></h2>
        <p>date_read: <%= book.date_read %>.</p>
        <p>Rating: <%= book.rating %> / 10.</p>
        <p><%= book.content %></p>
    </div>
    <div class="actions">
            <form method="GET" action="/edit/<%=book.id  %>">
                <button type="submit" name="edit">✏️ Edit</button>
            </form>
            <form method="get" action="/delete/<%=book.id%>">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this book?')">🗑️ Delete</button>
            </form>
    </div>
    </div>

   <% }) %>

<% } %>    


    
</body>
</html>